    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-secondary js-book-toggle" data-toggle="0">Already Read</button>
      <button type="button" class="btn btn-outline-secondary js-book-toggle" data-toggle="1">Currently Reading</button>
      <button type="button" class="btn btn-outline-secondary js-book-toggle" data-toggle="2">Want to Read</button>
    </div>
    <div class="books-container">
    </div>

    <script>
    let books;
      $(".js-book-toggle").click(async function(){
        const fetchBooks = async () => {
          const response = await fetch("api/v1/user/books?status=" + $(this).data('toggle'));
          const Books = await response.json();
          return Books;
        }

        books = await fetchBooks();
        const displayBooks = books.map(book => {
          return (
            `<div class="card" style="width: 18rem; text-align:center;display:inline-block;">
              <img class="card-img-top" src="${book.sm_image}" alt="${book.title}">
              <div class="card-block">
                  <h4 class="card-title">${book.title}</h4>
                  <p class="card-text">${book.authors}</p>
              <div class="card-footer">
                <a href="/books/${book.id}" class="badge badge-info">More Info</a>
                <a href="/books/${book.id}" class="badge badge-danger" data-confirm="Are you sure you want to remove ${book.title} from your list?" data-method="delete" rel="nofollow">Remove</a>
              </div>
              </div>
            </div>`
          )
        });

        $('.books-container').html(displayBooks)
      });
  </script>
