<div class="jumbotron text-center">
  <h1 class="display-4">KnowledgeShare</h1>
  <p class="lead">Here you can search for books to add to your bookshelf.</p>
  <hr class="my-4">
  <p>Please enter a book title:</p>
  <p class="lead">
    <div class="search-form">
      <%= form_tag("/search", method: "post") do %>
        <%= label_tag(:q, "") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </p>
</div>
