<div class="hero-image">
  <div class="hero-text">
    <%= image_tag "logo.png" %>
    <h3>Give a friend something good to read...</h3>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", class: "btn btn-outline-primary" %>
  </div>
</div>
