<div class="hero-image">
  <div class="hero-text">
    <%= image_tag "logo.png" %>
    <h3>Give a friend something good to read...</h3>
    <h3 id="greeting">Welcome, <%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
    <%= link_to "Search Books", search_path, class: "btn btn-primary" %>
  </div>
</div>
