<h3>Welcome, <%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
<%= link_to "Search Books", search_path, class: "btn btn-primary" %>
<%= link_to "Logout", logout_path, class: "btn btn-secondary" %>
